<!--Navbar-->
<mdb-navbar
  SideClass="navbar navbar-expand-lg navbar-dark deep-purple lighten-1"
  [containerInside]="true"
>
  <!-- Navbar brand -->
  <mdb-navbar-brand
    ><a class="navbar-brand" href="">MyBooks</a></mdb-navbar-brand
  >

  <!-- Collapsible content -->
  <links>
    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a
          class="nav-link waves-light"
          routerLink="mainBooks"
          routerLinkActive="true"
          mdbWavesEffect
          >Home</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link waves-light"
          routerLink="library"
          routerLinkActive="true"
          mdbWavesEffect
          >Library</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link waves-light"
          routerLink="user"
          routerLinkActive="true"
          mdbWavesEffect
          >Me</a
        >
      </li>
    </ul>
    <!-- Links -->

    <ul class="navbar-nav ml-auto nav-flex-icons">
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect>Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect>Signup</a>
      </li>
    </ul>
  </links>
  <!-- Collapsible content -->
</mdb-navbar>
<!--/.Navbar-->
